/* common shared styles  */
header,
main {
  max-width: 1920px;
  height: auto;
  border: 2px solid red;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* navbar related styles */
.navbar-container {
  height: 130px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 30px 0px #0808080d;
  padding: 38px 240px;
}
.navbar-left > img {
  width: 86px;
  height: 40px;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-right > ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.navbar-title {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 800;
}
.gamer-text {
  color: #ff42a5;
}
.navbar-right li {
  list-style: none;
}
.navbar-right li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
}
.navbar-btn {
  width: 262px;
  height: 56px;
  border-radius: 8px;
  border-style: none;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  cursor: pointer;
}
/* banner related styles */
.banner-container {
  display: flex;
}
.banner-content {
  width: 901px;
  height: 575px;
  background-image: url("/images/Group\ 14.png");
  background-position: left;
  padding-top: 300px;
  padding-left: 240px;
}
.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.banner-stats {
  color: #f948b2;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.banner-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 40px;
}
.banner-btn1 {
  width: 156px;
  height: 65px;
  border-radius: 48px;
  border-style: none;
  background-color: #ff42a5;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 24px;
  cursor: pointer;
}
.banner-btn2 {
  width: 185px;
  height: 65px;
  border-radius: 48px;
  border-style: none;
  background-color: #4ec5f7;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.banner-image {
  margin-top: 190px;
  margin-right: 240px;
  margin-left: 22px;
}
/* gamer section related styles */
.gamer-container {
  display: flex;
  gap: 50px;
}
.gamer-img {
  margin-top: 50px;
  margin-left: 190px;
}
.gamer-content {
  margin-top: 35px;
  text-align: right;
}
.gamer-title {
  color: #f948b2;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.gamer-description {
  width: 520px;
  text-align: end;
  margin-bottom: 32px;
}
.gamer-btn {
  width: 208px;
  height: 65px;
  border-radius: 48px;
  border-style: none;
  background: #ff42a5;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 24px;
  cursor: pointer;
}
.gamer-purpose {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
}
.gamer-ending {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
}
/* online game section related styles */
.online-game-container {
  margin: 100px 245px;
  text-align: center;
}
.online-game-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.funny-text {
  color: #f948b2;
}
.online-game-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 48px;
}
.online-game-info {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
  padding-left: 10px;
  margin-top: 24px;
}
/* play instant section related styles */
.play-instant-container {
  display: flex;
  gap: 100px;
  margin-top: 130px;
  margin-left: 400px;
}
.play-instant-content {
  width: 350px;
  height: 270px;
  text-align: right;
  margin-top: 180px;
}
.play-instant-title {
  font-size: 3rem;
  font-weight: 700;
}
.instant-text {
  color: #f948b2;
}
.play-instant-description {
  margin-top: 24px;
}
.play-instant-img .instant-img2 {
  position: relative;
  bottom: 270px;
}
.play-instant-img .instant-img1 {
  margin-left: 150px;
}
/* play game section related styles */
.play-game-container {
  display: flex;
  gap: 100px;
  margin-left: 250px;
}
.play-game-content {
  width: 350px;
  height: 270px;
  text-align: left;
  margin-top: 240px;
}
.play-game-title {
  font-size: 3rem;
  font-weight: 700;
}
.play-game-img {
  text-align: right;
}
.game-img2 {
  position: relative;
  bottom: 270px;
}
.game-img1 {
  margin-right: 150px;
}
/* career section related styles */
.career-container {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  display: flex;
}
.career-content {
  width: 900px;
  margin-top: 80px;
  margin-left: 220px;
}
.career-content > div li {
  list-style: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.career-list {
  display: flex;
  gap: 80px;
}
.career-country li {
  text-align: right;
}
.career-title {
  color: #fff;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 24px;
}
.career-description {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 32px;
}
.career-info ul {
  padding: 0;
}
.career-btn {
  width: 275px;
  height: 65px;
  background: #fff;
  border-radius: 48px;
  border-style: none;
  color: #ff42a5;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 40px;
  cursor: pointer;
}
/* button section related styles */
.button-container button {
  display: flex;
  gap: 25px;
  align-items: center;
  width: 200px;
  height: 70px;
  background: #fff;
  border-radius: 50px;
  border: 1px solid gainsboro;
  cursor: pointer;
}
.button-container {
  display: flex;
  gap: 85px;
  flex-wrap: wrap;
  margin: 120px 0;
}
.button-section {
  max-width: 1400px;
  margin: 0 auto;
}
.button-container button:hover {
  cursor: pointer;
  border: 2px solid #ff42a5;
  transform: scale(1.3);
}
button > p:hover {
  color: #ff42a5;
}
/* responsive media queries */

/* for small devices */
@media screen and (max-width: 576px) {
  /* shared start  */
  header,
  main,
  .banner-container,
  .gamer-container,
  .online-game-container,
  .play-instant-container,
  .play-game-container,
  .career-container,
  .button-section {
    max-width: 425px;
  }
  header,
  main {
    border: 2px solid rgb(2, 255, 2);
  }
  .navbar-container,
  .navbar-right > ul,
  .gamer-container,
  .play-instant-container,
  .career-container {
    flex-direction: column;
  }
  .banner-container,
  .play-game-container {
    flex-direction: column-reverse;
  }
  .online-game-img {
    grid-template-columns: 1fr;
  }
  .navbar-container,
  .banner-content,
  .banner-image,
  .gamer-img,
  .gamer-content,
  .online-game-container,
  .play-instant-container,
  .play-instant-content,
  .play-instant-img .instant-img1,
  .play-game-container,
  .play-game-content,
  .career-content,
  .button-container {
    margin: 0;
    padding: 0;
  }
  .navbar-container,
  .gamer-container,
  .online-game-container,
  .play-instant-container,
  .play-game-container,
  .career-container {
    height: auto;
  }
  .gamer-content,
  .gamer-description,
  .play-instant-content,
  .play-game-content {
    text-align: center;
  }
  /* shared end  */
  .navbar-container {
    align-items: center;
  }
  .navbar-right {
    padding-right: 40px;
  }
  .banner-image img {
    width: 320px;
    padding-left: 30px;
  }
  .banner-content {
    width: 380px;
    padding-left: 19px;
  }
  .gamer-img img,
  .gamer-description {
    width: 380px;
  }
  .gamer-description {
    margin-left: 7px;
  }
  .online-game-info {
    text-align: center;
  }
  .play-instant-img .instant-img1 {
    width: 300px;
    margin-left: 50px;
  }
  .play-instant-img .instant-img2 {
    width: 130px;
    bottom: 100px;
  }
  .play-instant-content {
    margin-left: 25px;
  }
  .play-instant-img {
    margin-left: 10px;
  }
  .game-img1 {
    width: 300px;
    margin-right: 40px;
  }
  .game-img2 {
    width: 130px;
    bottom: 100px;
  }
  .play-game-content {
    margin-left: 25px;
  }
  .play-game-img {
    margin-right: 20px;
    margin-top: 64px;
  }
  .career-content {
    width: 390px;
    padding: 10px;
  }
  .career-content > div li {
    font-size: 0.7rem;
  }
  .career-title {
    font-size: 2rem;
  }
  .career-description {
    font-size: 1rem;
  }
  .career-list {
    gap: 10px;
  }
  .career-image img {
    width: 350px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
  }
  .button-container button {
    gap: 10px;
    width: 160px;
    height: 40px;
    border-radius: 20px;
  }
  .button-container button img {
    width: 35px;
    height: 35px;
  }
  .button-container {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 15px;
    margin: 20px;
}
.button-container button:hover {
  transform: scale(1.1);
  }
}

/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* shared start */
  header,
  main,
  .banner-container,
  .gamer-container,
  .online-game-container,
  .play-instant-container,
  .play-game-container,
  .career-container {
    max-width: 768px;
  }
  header,
  main {
    border: 2px solid blue;
  }
  .navbar-container,
  .navbar-right > ul,
  .gamer-container,
  .play-instant-container,
  .career-container {
    flex-direction: column;
  }
  .banner-container,
  .play-game-container {
    flex-direction: column-reverse;
  }
  .online-game-img {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar-container,
  .banner-content,
  .gamer-img,
  .gamer-content,
  .online-game-container,
  .play-instant-container,
  .play-game-container,
  .career-content {
    margin: 0;
    padding: 0;
  }
  .navbar-container,
  .gamer-container,
  .online-game-container,
  .play-instant-container,
  .play-game-container,
  .career-container {
    height: auto;
  }
  .gamer-content,
  .gamer-description,
  .play-instant-content,
  .play-game-content {
    text-align: center;
  }
  /* shared end */
  .navbar-container {
    align-items: center;
  }
  .navbar-right {
    padding-right: 40px;
  }
  .banner-image img {
    width: 620px;
    padding-left: 38px;
  }
  .banner-content {
    width: 620px;
    padding-left: 100px;
  }
  .gamer-img img {
    width: 650px;
    margin-left: 40px;
  }
  .gamer-description {
    width: 620px;
  }
  .gamer-description {
    margin-left: 55px;
  }
  .online-game-info {
    text-align: center;
  }
  .play-instant-img .instant-img1 {
    width: 480px;
    margin-left: 90px;
  }
  .play-instant-img .instant-img2 {
    width: 220px;
    bottom: 130px;
  }
  .play-instant-content {
    margin-left: 200px;
  }
  .play-instant-img {
    margin-left: 50px;
  }
  .play-game-content {
    margin-left: 200px;
  }
  .game-img1 {
    width: 480px;
    margin-right: 90px;
  }
  .game-img2 {
    width: 220px;
    bottom: 100px;
  }
  .play-game-content {
    margin-left: 210px;
  }
  .play-game-img {
    margin-right: 40px;
    margin-top: 64px;
  }
  .career-content {
    width: 680px;
    margin-left: 50px;
  }
  .career-description {
    width: 680px;
    font-size: 1rem;
  }
  .career-image img {
    width: 650px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
  }
}
